
.MainContent {
    margin: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
}

p {
    font-size: 1rem;
    color: #666;
}

section {
    background-color: #556892;
    padding: 20px;
    border-radius: 8px;
}
